body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
}

h1 {
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
}

h2 {
    font-weight: bold;
    font-size: 36px;
}

.about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

ul {
    list-style-type: none;
}

.about-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #4d5ae5;
    text-transform: uppercase;
}

.logo span {
    color: #2e2f42;
}

.block-nav {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.block-nav a {
    text-decoration: none;
    color: #2E2F42;
}

.block-nav a:hover {
    color: #404bbf;
}

.block-nav a:active {
    border-bottom: 2px solid #404bbf;
}

.block-contacts {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

address a{
    text-decoration: none;
    font-style: normal;
    color: #434455;
}

.block-contacts a:hover, a:active{
    color: #404bbf;
}

.block-solution {
    width: 1440;
    height: 600;
    background-color: #2E2F42;
    padding: 20px;
}

.page-title {
    font-family: Roboto;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.page-title-button {
    font-family: "Roboto",
        sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
}

.block-solution button:hover, button:active {
    background-color: #404BBF;
}

.section-title {
    line-height: 40px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-container {
    background-color: #FFFFFF;
}

.block-team {
    background-color: #F4F4FD;
}

.logo-footer {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

.logo-footer span{
    color: #f4f4fd;
}

.block-footer {
    background-color: #2e2f42;
}

.block-footer p {
    font-family: "Roboto",
        sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}